# Core functionality - changes here should be rare!
/src/app.py                   @emanconcepcion21
/src/backend/database.py      @emanconcepcion21
/src/backend/routers/auth.py  @emanconcepcion21

# The frontend will need refactored soon to be more object oriented.
/src/static/   @emanconcepcion21
